.hleftside{
    /* background-color: rgb(255, 135, 49); */
    height: 50vh;
    width: 20vw;
}
.pHeading{
    text-align: center;
    display: flex;
    /* background-color: aqua; */
    font-size: 50px;
    padding-left: 2vw;
}
.pProject{

}
.hPlus{
    padding-left: 20px;
    padding-top: 20px;
}
.hnewproject{
    width: 14vw;
    background-color: crimson;
    font-size: 30px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.hrightside{
    /* background-color: rgb(191, 149, 94); */
     height: 50vh;
    /* margin-left: 22vw;
    position: absolute; */
    width: 80vw;
    /* top: 0; */
    /* position: sticky; */
}
.bothside{
    font-family: 'Poppins',sans-serif;
    color: white;
    /* background-color: rgb(57, 210, 40); */
    height: auto;
    display: flex;
    flex-direction: row;
    /* font-family: 'Poppins',sans-serif; */
    position: absolute;
}
.hfornew{
    /* background-color: aquamarine; */
}